.building-title {
  padding: 7px;
  border-radius: 4px;
  color: #ffffff;

  p{
    margin-bottom: 0;
  }

  &--learning {
    background: darken($learning-color, 20%);
  }

  &--admin {
    background: darken($admin-color, 20%);
  }

  &--sport {
    background: darken($sport-color, 20%);
  }

  &--leaving {
    background: darken($living-color, 20%);
  }

  &--culture {
    background: darken($culture-color, 20%);
  }
}
