.map{
  width: 100%;
  overflow: auto;
}

.map-image__object {
  transition-duration: 200ms;
  fill: #3bd11d;

  &:hover {
    fill: darken(#3bd11d, 20%);
  }

  &--extra{
    fill: none;
    stroke: #3bd11d;
    stroke-width: 5px;

    &:hover{
      fill: none;
      stroke: darken(#3bd11d, 20%);
    }
  }
}

.map-image__polygon{
  opacity: 0;
}

.map-image{
  height: 100vh;
}

@media (min-width: 1200px){
  .map-image{
    width: 100%;
    height: auto;
  }
}
