.map{
  width: 100%;
  overflow: auto;
}

.map-image__object {
  transition-duration: 200ms;

  &--learning{
    fill: $learning-color;

    &:hover {
      fill: darken($learning-color, 20%);
    }
  }

  &--admin {
    fill: $admin-color;

    &:hover {
      fill: darken($admin-color, 20%);
    }
  }

  &--sport {
    fill: $sport-color;

    &:hover {
      fill: darken($sport-color, 20%);
    }
  }

  &--living {
    fill: $living-color;

    &:hover {
      fill: darken($living-color, 20%);
    }
  }

  &--culture {
    fill: $culture-color;

    &:hover {
      fill: darken($culture-color, 20%);
    }
  }

  &--extra {
    fill: none;
    stroke: $learning-color;
    stroke-width: 5px;

    &:hover {
      fill: none;
      stroke: darken($learning-color, 20%);
    }
  }

  &--neutral {
    fill: $neutral-color !important;
  }

  &--neutral-extra {
    fill: none !important;
    stroke: $neutral-color !important;
  }
}

.map-image__polygon{
  opacity: 0;
}

.map-image{
  height: 100vh;
}

@media (min-width: 1200px){
  .map-image{
    width: 100%;
    height: auto;
  }
}
